table{
    width: 100%;
    tr{
        width: 100%;
    }
}
th,td{
    padding: 1rem;
    border: 1px solid tan;
}
  .card {
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    border-radius: 8px;
  }
  
  .card-title {
    font-weight: bold;
  }
  
  .card-text {
    font-size: 0.9rem;
    color: #555;
  }
  
  